* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  color: #eceff4;
}

window#waybar {
  background-color: rgba(30, 34, 42, 0.85);
  border-bottom: 2px solid #88c0d0;
}

#workspaces button {
  padding: 0 8px;
  color: #d8dee9;
}
#workspaces button.active {
  background-color: #88c0d0;
  color: #2e3440;
  border-radius: 6px;
}
#clock, #cpu, #memory, #battery, #network, #pulseaudio, #tray {
  margin: 0 6px;
}

