body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  user-select: none;
  overflow: hidden;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

.slider-container {
  width: 100%;
  height: 100%;
}

.slider-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

#slider-overlay-image {
  clip-path: inset(0 50% 0 0);
}

.slider-track::before {
  content: "";
  position: absolute;
  inset: 0px -48px;
  background-color: transparent;
  cursor: ew-resize;
  touch-action: none;
}

.slider-track {
  position: absolute;
  inset: 0 auto 0 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: ew-resize;
  touch-action: none;
}

.slider-thumb {
  animation: pulse 0.3s ease-in-out 0s 2;
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  inset: 50%;
  transform: translate(-50%, -50%);
  will-change: transform, opacity;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ed1c25;
  background: center / cover url("./thumb-B-TWwwwd.webp");
  cursor: ew-resize;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.25);
    box-shadow: 0 0 16px 8px rgba(255, 255, 255, 0.4);
  }
  60% {
    transform: translate(-50%, -50%) scale(0.9);
    box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.2);
  }
  80% {
    transform: translate(-50%, -50%) scale(1.08);
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.15);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.button {
  position: absolute;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  bottom: calc(var(--safe-area-bottom));
  width: 170px;
  cursor: pointer;
}

@media (max-height: 400px) {
  .button {
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .button {
    left: calc(var(--safe-area-left));
    transform: none;
  }
}

@media (max-width: 767px) {
  .button {
    left: 50%;
    transform: translateX(-50%);
  }
}
.gradient-overlay {
  position: absolute;
  inset: 0;
  width: 100dvw;
  height: 100dvh;
  pointer-events: none;

  background: linear-gradient(
    to bottom,

    /* Top fade-out */ hsla(0, 0%, 0%, 0.738) 0px,
    hsla(0, 0%, 0%, 0.541) 40px,
    hsla(0, 0%, 0%, 0.382) 72px,
    hsla(0, 0%, 0%, 0.278) 100px,
    hsla(0, 0%, 0%, 0.194) 126px,
    hsla(0, 0%, 0%, 0.126) 150px,
    hsla(0, 0%, 0%, 0.075) 172px,
    hsla(0, 0%, 0%, 0.042) 192px,
    hsla(0, 0%, 0%, 0.021) 208px,
    hsla(0, 0%, 0%, 0.008) 220px,
    hsla(0, 0%, 0%, 0.002) 228px,
    hsla(0, 0%, 0%, 0) 232px,
    /* Transparent middle */ hsla(0, 0%, 0%, 0) calc(100% - 232px),
    /* Bottom fade-in */ hsla(0, 0%, 0%, 0.002) calc(100% - 228px),
    hsla(0, 0%, 0%, 0.008) calc(100% - 220px),
    hsla(0, 0%, 0%, 0.021) calc(100% - 208px),
    hsla(0, 0%, 0%, 0.042) calc(100% - 192px),
    hsla(0, 0%, 0%, 0.075) calc(100% - 172px),
    hsla(0, 0%, 0%, 0.126) calc(100% - 150px),
    hsla(0, 0%, 0%, 0.194) calc(100% - 126px),
    hsla(0, 0%, 0%, 0.278) calc(100% - 100px),
    hsla(0, 0%, 0%, 0.382) calc(100% - 72px),
    hsla(0, 0%, 0%, 0.541) calc(100% - 40px),
    hsla(0, 0%, 0%, 0.738) 100%
  );
}
.brand-background-color {
  background-color: #ef0721;
}
